 .widgetLg {
    flex: 4;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
  }
  
  .widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
  }
  
  .userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #005B96;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  .userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .employee-card-div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  } 

  .loading{
    width: 200px;
  }